@import "CSS/normalizer.css";

/*---Type Selectors---*/

body {
  display: inline-block;
  background-color: #e2ffee;
  font-family: Macondo, sans-serif, Bellefair, cursive;
  font-size: 16px;
}

li a {
  Padding: 30px 100px;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}

h4 a {
  Padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

h1 {
  position: relative;
}

main {
  background-color: #fcf4ef;
}

a {
  text-decoration-line: none;
  color: black;
}

hr {
  width: 50%;
}

/*---Base Class Selectors for Elements---*/

.main-header {
  text-align: center;
  background-color: black;
  color: white;
}

.main-heading {
  padding-left: 10px;
  font-family: Bellefair;
}

.main-nav {
  list-style-type: none;
}

.main-nav li {
  margin: 5px 0;
  padding: 10px 0;
  background-color: #fcf4ef;
  display: block;
}

.nav {
  margin: 0 auto;
  padding: 0;
}

.top-section {
  text-align: center;
  margin: 0 auto;
}

.top-img {
  width: 70%;
  max-width: 367px;
  margin: 30px auto 10px;
}

.img {
  margin: 0 auto;
  width: 95%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.footer-nav {
  border-top: solid 1px black;
}

.contact-br {
  display: none;
}

/*---Page Layout---*/

main {
  padding: 30px 0;
}

.main-cont img {
  padding-top: 1em;
}

.expertise {
  padding: 20px 0;
  background-color: #fcf4ef;
  margin: 30px 0;
}

.footer-section {
  padding-bottom: 50px;
}

#footer-left {
  float: left;
  text-transform: none;
  font-family: Bellefair;
}

#footer-buttons {
  display: none;
}

.footer-nav h4 {
  float: right;
  text-transform: uppercase;
}

/*---Type Selected Psuedo Affects---*/

a:hover {
  color: #36acd0;
}

/*---Clearfix Rule---*/

.clearfix:after {
  clear: both;
  display: table;
  content: "";
}

/*---Tablet Media Queries---*/

@media (min-width:768px) and (max-width:1024px) {



.main-nav {
  text-align: center;
  margin: auto;
}

.main-nav li {
  display: inline-block;
  margin: 0 10px;
}

.main-nav li a {
  padding: 30px 30px;
}

.top-img {
  float: right;
  width: 40%;
  margin: 40px auto;
}

.intro-text {
  padding: 60px 0 0 30px;
  font-size: 1.5em;
  max-width: 50%;
  text-align: left;
}



.main-cont img {
  max-width:100%;
  width: 96%;
  max-height: 100%;
}

.m1-i1,
.m1-i3,
.m2-i2 {
  float: left;
  width: 50%;
  position: relative;
  padding-bottom: 160px;
}

.m1-i2,
.m2-i1,
.m2-i3 {
  float: left;
  width: 50%;
  position: relative;
  padding-bottom: 160px;
}

.m1-d1,
.m1-d2,
.m1-d3,
.m2-d1,
.m2-d2,
.m2-d3 {
  width: 70%;
  padding: 0;
  position: absolute;
  top: 62%;
  right: 15%;
}

.m1-d2,
.m2-d1,
.m2-d3 {
  float: left;

}

.m1-d1,
.m1-d3,
.m2-d2 {
  float: left;
}

.expertise section {
  font-size: 1.25em;
}

.contact-br {
  display: initial;
}

.footer-bar h4 {
  padding: 0 10px;
  float: right;
}

#footer-buttons {
  display: initial;
}

#top-button {
  display: none;
}

}

/*---Desktop Media Queries---*/

@media (min-width: 1024px) {

  body {
      padding: 0 5%;
  }

  .main-heading {
    float: left;
  }

  .main-nav {
    text-align: center;
    margin: 18px auto 0;
    float: right;
  }

  .main-nav li {
    display: inline-block;
    margin: 0 10px;
  }

  .main-nav li a {
    padding: 30px 30px;
  }

  .top-img {
    float: right;
    width: 40%;
    margin: 40px auto;
  }

  .intro-text {
    padding: 30px 0 0 30px;
    font-size: 1.5em;
    max-width: 50%;
    text-align: left;
  }

  .main-cont img {
    max-width:100%;
    width: 96%;
    max-height: 100%;
    margin: 20px 0;
  }

  .m1-i1,
  .m1-i3,
  .m2-i2 {
    float: left;
    width: 33%;
    position: relative;
    padding-bottom: 130px;
    margin-bottom: 30px;
  }

  .m1-i2,
  .m2-i1,
  .m2-i3 {
    float: left;
    width: 33%;
    position: relative;
    padding-bottom: 130px;
    margin-bottom: 30px;
  }

  .m1-d1,
  .m1-d2,
  .m1-d3,
  .m2-d1,
  .m2-d2,
  .m2-d3 {
    width: 70%;
    padding: 30px 0 0;
    position: absolute;
    top: 60%;
    right: 15%;
  }

  .m1-d2,
  .m2-d1,
  .m2-d3 {
    float: left;
  }

  .m1-d1,
  .m1-d3,
  .m2-d2 {
    float: left;
  }

  .expertise section {
    font-size: 1.25em;
  }

  .contact-br {
    display: initial;
  }

  .footer-bar h4 {
    padding: 0 10px;
    float: right;
  }

  #footer-buttons {
    display: initial;
  }

  #top-button {
    display: none;

}
